/* mainstyles */

body
{ background: url(../images/bgnc.png) fixed black top center no-repeat;
  background-size: cover; overflow: scroll; }
@font-face
{ src: url("../fonts/play.ttf") format('truetype');
  font-weight: normal; font-family: 'Play'; }
@font-face
{ src: url("../fonts/anonymous.ttf") format('truetype');
  font-weight: normal; font-family: 'Anonymous'; }
#outblock
{ position: absolute; height: auto; width: 99%; }
#innblock
{ width: 998px; text-align: left; height: 100%; position: relative;
  -moz-user-select: none; -webkit-user-select: none; user-select: none;
  -ms-user-select: none; -o-user-select: none; display: flex; gap: 13px; }
.blockone
{ display: flex; flex-direction: column; width: 268px; gap: 7px;
  box-sizing: border-box; }
.blocktwo
{ display: flex; flex-direction: column; width: 717px; gap: 7px;
  box-sizing: border-box; }
#sitelogo
{ height: 115px;  border-radius: 5px; padding: 15px 5px; box-sizing: border-box;}
#srchline
{ height: 34px; background-color: black; border: 1px solid #545454; padding: 5px;
  box-sizing: border-box; }
#mainmenu
{ box-sizing: border-box; display: flex; flex-direction: column; gap: 5px; }
#maincont
{ min-height: 200px; background-color: black; padding: 15px; color: gray; 
  box-sizing: border-box; border: 3px solid #545454; transition: opacity 0.4s ease; }
#headtape
{ display: flex; flex-direction: row; gap: 7px; padding: 0; height: 36px;
  background-color: transparent !important; }
#foottape
{ height: 40px; background-color: black; padding: 15px; color: chocolate;
  border-radius: 0 0 7px 7px; box-sizing: border-box; margin-bottom: 7px;
  border: 3px solid chocolate; }
